Repository foundation/foundation-sites, pull requests merged in 2018-03, with the labels that each got.

#10996 docs: fix and improve the description of the default reveal width
  docs/pages/reveal.md
Labels: docs

#10998 fix: copy the sourcemap files
  gulp/config.js
  gulp/tasks/deploy.js
Labels: build

#11003 tests: run tests on latest stable and LTS releases of Node.js
  .travis.yml
Labels: tests

#11001 fix: remove the unused tab-expand-max variable
  scss/components/_tabs.scss
  scss/settings/_settings.scss
Labels: Tabs, scss

#11005 docs: update the SRI hashes
  docs/pages/installation.md
Labels: chore, docs

#10965 fix: camelCase all events
  js/foundation.dropdownMenu.js
  js/foundation.offcanvas.js
  js/foundation.smoothScroll.js
  test/javascript/components/offcanvas.js
Labels: Dropdown Menu, Migration Needed, events

#11018 fix: remove the unused menu-item-background-hover variable
  scss/components/_menu.scss
Labels: menu, scss

#11011 fix: use `hashchange` event instead of `popstate` for IE/Edge compatibility
  js/foundation.accordion.js
  js/foundation.magellan.js
  js/foundation.reveal.js
  js/foundation.tabs.js
Labels: Tabs, bug fix

#10993 Remove `.info` class name
  docs/pages/label.md
Labels: docs

#10988 fix: fire updateActive after calcPoints
  js/foundation.magellan.js
  test/javascript/components/magellan.js
Labels: Magellan, javascript, tests

#11025 Allow for setting of custom plus/minus indicators for Accordion.
  scss/components/_accordion.scss
  scss/components/_pagination.scss
Labels: Accordion, new feature

#11030 docs: remove the unused data-btm-offset-pct in reveal
  js/foundation.reveal.js
Labels: Reveal, docs

#11031 docs: make clear that data-toggler of toggler supports .classname and…
  docs/pages/toggler.md
Labels: Toggler, docs

#11035 docs: fix example for custom validator
  docs/pages/abide.md
Labels: Abide, docs

#11038 docs: remove the deprecated positionClass of dropdown
  js/foundation.dropdown.js
Labels: Dropdown, javascript

#11039 docs: fix the data-deep-link-smudge-delay attribute in the tabs example
  docs/pages/tabs.md
Labels: Tabs, docs

#11041 fix: remove the open classes if no visible reveal exists after destro…
  js/foundation.reveal.js
Labels: Reveal, javascript

#11002 fix: add the xy-grid parameter to foundation-everything
  scss/foundation.scss
Labels: XY Grid, scss

#11023 chore: add Edge to the compatibility table
  docs/pages/compatibility.md
Labels: compatibility, docs

#11058 [Support] tests: migrate to mocha-headless-chrome
  js/foundation.abide.js
  js/foundation.magellan.js
  package.json
  test/javascript/components/magellan.js
  test/javascript/components/offcanvas.js
Labels: tests

#11036 chore: update eslint/gulp-eslint to v4
  .eslintrc
  package-lock.json
  package.json
Labels: chore

#10968 Unit Tests added for dropdown
  test/javascript/components/dropdown.js
Labels: Dropdown, tests

#11052 fix: add aria-expanded to the toggler trigger
  js/foundation.toggler.js
  test/javascript/components/toggler.js
Labels: Toggler, accessibility

#11060 Replace single with double quote in code example
  docs/assets/partials/sticky-nav.html
  docs/pages/accordion.md
  docs/pages/forms.md
  docs/pages/javascript-utilities.md
  docs/pages/kitchen-sink.md
  docs/pages/reveal.md
  docs/pages/starter-projects.md
  docs/pages/switch.md
  docs/partials/footer-contact.html
  test/visual/abide/hidden_and_ignored_fields.html
  test/visual/sticky/height-transition.html
  test/visual/xy-grid/frame-grid.html
Labels: docs

#11067 chore: remove the deprecated positionClass in tooltip
  js/foundation.tooltip.js
Labels: Tooltip, javascript

#11056 fix: fix Tooltip cleaning on destroy #11054
  js/foundation.tooltip.js
Labels: Tooltip, bug fix

#11057 docs: simplify & improve tooltip docs
  docs/pages/tooltip.md
Labels: Tooltip, docs

#11012 chore: add sourcemaps for JS and minified files #10999
  gulp/config.js
  gulp/tasks/deploy.js
  gulp/tasks/javascript.js
Labels: build, chore, dist

#11073 chore: move from bower to npm
  .bowerrc
  .travis.yml
  bower.json
  docs/assets/img/gulpfile.js
Labels: build, tests

#11076 fix: fix reference to component in `Magellan._events`
  js/foundation.magellan.js
Labels: Magellan, bug fix

#11085 fix: add missing vertical scrollbar in xy-grid frame
  scss/xy-grid/_frame.scss
Labels: XY Grid

#11065 fix: do not add the scrollbar by default
  scss/components/_reveal.scss
Labels: Reveal, scss

#11040 docs: add rails installation
  docs/assets/img/icons/logo-rubygems.svg
  docs/pages/installation.md
Labels: docs

#11010 docs: remove out-of-date bug warning in Reponsive Navigation
  docs/pages/responsive-navigation.md
Labels: docs

#10952 fix: make Toggler target an option #10892
  js/foundation.toggler.js
Labels: Toggler, bug fix

#11034 docs: migrate docs examples to xy-grid
  docs/pages/abide.md
  docs/pages/card.md
  docs/pages/dropdown.md
  docs/pages/equalizer.md
  docs/pages/global.md
  docs/pages/index.md
  docs/pages/installation.md
  docs/pages/kitchen-sink.md
  docs/pages/magellan.md
  docs/pages/media-queries.md
  docs/pages/motion-ui.md
  docs/pages/off-canvas.md
  docs/pages/prototyping-utilities.md
  docs/pages/slider.md
  docs/pages/sticky.md
  docs/pages/style-sherpa.md
  docs/pages/tabs.md
  docs/pages/thumbnail.md
  docs/pages/toggler.md
  docs/pages/tooltip.md
Labels: chore, docs

#11086 chore: drop `normalize-scss` and upgrade to normalize.css v8.0.0
  .gitignore
  _vendor/normalize-scss/sass/_normalize.scss
  _vendor/normalize-scss/sass/normalize/_import-now.scss
  _vendor/normalize-scss/sass/normalize/_normalize-mixin.scss
  _vendor/normalize-scss/sass/normalize/_variables.scss
  _vendor/normalize-scss/sass/normalize/_vertical-rhythm.scss
  gulp/config.js
  gulp/tasks/customizer.js
  package.json
  scss/_global.scss
  scss/foundation.scss
  scss/vendor/normalize.scss
Labels: Normalize, chore

#10856 chore: sort Sass components in categories
  docs/pages/sass.md
  meteor-README.md
  scss/foundation.scss
Labels: Need reviewers, css

#11083 chore: remove deprecated mixins
  scss/components/_responsive-embed.scss
  scss/grid/_gutter.scss
Labels: Sass Mixins, scss

#11088 chore: remove rem-base deprecation note
  docs/pages/global.md
Labels: docs

#11089 docs: fix check for flexbox-mode is-active class in component list
  docs/partials/component-list.html
Labels: docs

#11084 feat(?): Adds variables for padding of large and small callouts
  scss/components/_callout.scss
Labels: Callout, scss

#11093 fix: fix history browsing with nested Reveal and deep-linking
  js/foundation.reveal.js
  test/visual/reveal/nested-deep-link.html
Labels: Orbit, bug fix

#10907 feat: add `code-inline` and `code-block` typography helpers #9614
  docs/pages/typography-base.md
  scss/typography/_base.scss
  scss/typography/_helpers.scss
Labels: Typography, new feature

#10889 feat: add `dynamicHeight` option on Sticky to control container height changes #10846 (2)
  js/foundation.sticky.js
  test/visual/sticky/sticky-menu-dynamic-height.html
Labels: Sticky, new feature

#11099 fix: apply menubar aria role instead of menu
  js/foundation.util.nest.js
Labels: accessibility, javascript utilities

#11103 more accurate -zf-zero-breakpoint error message
  scss/util/_breakpoint.scss
Labels: scss

#11091 fix: fix dropdownMenu closing on touch scroll #9823
  js/foundation.dropdownMenu.js
  js/foundation.util.touch.js
Labels: Dropdown Menu, bug fix

#10600 Set border-width variable on button-base mixin
  scss/components/_button.scss
Labels: Button, Hollow Buttons, scss

#10978 Breakpoint Mixin `max-width` Values
  scss/components/_visibility.scss
  scss/util/_breakpoint.scss
  test/sass/_breakpoint.scss
Labels: Sass Mixins, bug fix

#11108 fix: listen for the enter key and trigger a change to emulate change …
  js/foundation.slider.js
Labels: Slider, javascript

#11110 docs: update the destroy method name on the JavaScript page
  docs/pages/drilldown-menu.md
  docs/pages/javascript.md
Labels: docs
