Repository foundation/foundation-sites, pull requests merged in 2018-04, with the labels that each got.

#11111 tests: use husky to run tests before commits and pushes
  package-lock.json
  package.json
  script/husky-precommit.js
  script/husky-prepush.js
Labels: tests

#11120 fix: prevent push/commit with falling tests with Husky
  script/husky-precommit.js
  script/husky-prepush.js
Labels: chore

#11114 feat: add back official `disableForTouch` option for Tooltip #9995
  js/foundation.tooltip.js
Labels: Tooltip

#11117 fix: fix cell widths overridden by readjusted smaller breakpoints in XY Grid #10468
  scss/xy-grid/_classes.scss
Labels: XY Grid, bug fix

#11106 fix: Reveal sass error with @extend within mediaquery
  scss/components/_reveal.scss
Labels: Reveal, bug fix

#11090 chore: various Travis tests improvements
  .travis.yml
  browserstack.json
  package-lock.json
  package.json
Labels: chore, tests

#11116 fix: use more permissive URL pattern for Abide #9180
  docs/pages/abide.md
  js/foundation.abide.js
Labels: Abide, bug fix

#11118 fix: do not validate submit input in Abide #9190
  js/foundation.abide.js
Labels: Abide, bug fix

#11115 fix: fix uncentered last column on Float Grid #9952
  scss/grid/_column.scss
  scss/grid/_position.scss
  test/visual/grid/uncentered-columns.html
Labels: Grid, bug fix

#11123 fix: toggle dropdown if there is no focusable element inside
  js/foundation.dropdown.js
  test/javascript/components/dropdown.js
Labels: Dropdown, accessibility

#10969 Fix Off-canvas In-canvas feature
  docs/pages/off-canvas.md
  js/foundation.offcanvas.js
Labels: Off-Canvas, bug

#11144 chore: switch to jsDelivr
  README.md
  docs/assets/partials/sticky-nav.html
  docs/layout/default.html
  docs/pages/installation.md
  docs/pages/motion-ui.md
  test/visual/accordion-menu/accordionmenu.html
  test/visual/menu/active-menu-flex.html
  test/visual/menu/active-menu-float.html
  test/visual/menu/basic-menu-flex.html
  test/visual/menu/basic-menu-float.html
  test/visual/menu/expanded-menu-flex.html
  test/visual/menu/expanded-menu-float.html
  test/visual/menu/horizontal-dropdownmenu-alignment-flex.html
  test/visual/menu/horizontal-dropdownmenu-alignment-float.html
  test/visual/menu/horizontal-menu-alignment-flex.html
  test/visual/menu/horizontal-menu-alignment-float.html
  test/visual/menu/menu-centered-flex.html
  test/visual/menu/menu-centered-float.html
  test/visual/menu/menu-form-flex.html
  test/visual/menu/menu-form-float.html
  test/visual/menu/menu-text-flex.html
  test/visual/menu/menu-text-float.html
  test/visual/menu/nested-menu-flex.html
  test/visual/menu/nested-menu-float.html
  test/visual/menu/responsive-menu-flex.html
  test/visual/menu/responsive-menu-float.html
  test/visual/menu/simple-menu-flex.html
  test/visual/menu/simple-menu-float.html
  test/visual/menu/vertical-accordionmenu-alignment-flex.html
  test/visual/menu/vertical-accordionmenu-alignment-float.html
  test/visual/menu/vertical-drilldownmenu-alignment-flex.html
  test/visual/menu/vertical-drilldownmenu-alignment-float.html
  test/visual/menu/vertical-dropdownmenu-alignment-flex.html
  test/visual/menu/vertical-dropdownmenu-alignment-float.html
  test/visual/menu/vertical-menu-alignment-flex.html
  test/visual/menu/vertical-menu-alignment-float.html
  test/visual/orbit/orbit.html
Labels: CDN

#11145 fix: use the right breakpoints in block-grid for gutter calculation
  scss/xy-grid/_classes.scss
  scss/xy-grid/_layout.scss
Labels: Sass Mixins, XY Grid, scss

#11158 [Support] fix: fix reference to component in `Magellan._events`
  js/foundation.magellan.js
Labels: support

#11119 chore: fix & update dependencies
  .babelrc
  README.md
  gulp/tasks/check.js
  gulp/tasks/customizer.js
  gulp/tasks/deploy.js
  gulp/tasks/docs.js
  gulp/tasks/javascript.js
  gulp/tasks/lint.js
  gulp/tasks/sass.js
  gulp/tasks/test.js
  gulpfile.js
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies

#11142 fix: fix Magellan hash resolution without active link
  js/foundation.magellan.js
Labels: Magellan, bug fix

#11171 Incorrect variable name in legacy Float Grid docs
  docs/pages/grid.md
Labels: docs

#11107 fix: always use absolute positioning to prevent jumping Orbit slider
  js/foundation.orbit.js
  scss/components/_orbit.scss
Labels: Orbit, javascript, scss

#11141 in-canvas-for-x width:auto instead of width:inherit
  scss/components/_off-canvas.scss
Labels: Off-Canvas, bug fix

#11173 docs: fix small typo in Sass doc of $card-background
  scss/components/_card.scss
Labels: scss

#11174 build: use npm ci
  .travis.yml
Labels: build

#11176 style: remove extraneous space in Travis CI config
  .travis.yml
Labels: build, tests

#11178 docs: improve README & Contribution guidelines
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  README.md
Labels: docs

#11021 chore: update the browserslist config according to the compability table
  docs/assets/img/gulpfile.js
  docs/pages/compatibility.md
  docs/pages/sass.md
  gulp/config.js
  gulp/tasks/customizer.js
Labels: compatibility

#11179 tests: prevent race condition in _reflow test
  test/javascript/components/interchange.js
Labels: tests

#11205 chore: add missing callback to gulp sequences
  gulp/tasks/customizer.js
  gulp/tasks/deploy.js
  gulp/tasks/test.js
Labels: build, chore

#11208 chore: use test dependencies from node_modules
  package-lock.json
  package.json
  test/javascript/index.html
  test/javascript/lib/chai-jquery.js
  test/javascript/lib/chai.js
  test/javascript/lib/mocha.css
  test/javascript/lib/mocha.js
  test/javascript/lib/sinon.js
  yarn.lock
Labels: tests

#11197 chore: add commit message linting
  .commitlintrc.yml
  .huskyrc.yml
  package-lock.json
  package.json
  script/husky-commit-lint.js
  script/husky-commit-test.js
  script/husky-push-test.js
  yarn.lock
Labels: chore
