Repository foundation/foundation-sites, pull requests merged in 2018-10, with the labels that each got.

#11525 docs: fix DropdownMenu events namespace
  js/foundation.dropdownMenu.js
Labels: Dropdown Menu, 📖 documentation

#11528 chore: update "foundation-docs" dependency
  package-lock.json
  package.json
  shrinkwrap.yaml
  yarn.lock
Labels: dependencies, 💻 maintenance

#11526 docs: use correct namespace for DropdownMenu/OffCanvas events (v6.5)
  js/foundation.dropdownMenu.js
  js/foundation.offcanvas.js
Labels: Dropdown Menu, Off-Canvas, 📖 documentation

#11529 Fix interchange parsing rules, allow filename to contain brackets
  js/foundation.interchange.js
Labels: Interchange, bug fix

#11430 fix: fix various bugs with "Tap" events and "closeOnClick" options #11423
  js/foundation.dropdown.js
  js/foundation.reveal.js
  js/foundation.util.touch.js
  test/visual/dropdown/close-on-click.html
  test/visual/reveal/close-on-click.html
Labels: :boom: migration needed, Dropdown, Need reviewers, bug fix, javascript utilities

#11530 fix: fix various bugs in Tabs & Accordion deep linking #11527
  js/foundation.accordion.js
  js/foundation.tabs.js
  test/visual/tabs/deep-linking.html
Labels: Accordion, Tabs, bug fix

#11531 fix: fix various bugs with "Tap" events (v6.5)
  js/foundation.util.touch.js
Labels: bug fix, javascript utilities

#11545 docs: fix plugins instantiation examples in Javascript docs
  docs/pages/javascript.md
Labels: 📖 documentation

#11543 fix: avoid overhead when calling MediaQuery._init() multiple times
  js/foundation.util.mediaQuery.js
Labels: :boom: migration needed, bug fix, media queries

#11548 Fix `Converts` misspelling
  scss/util/_breakpoint.scss
Labels: 📖 documentation

#11549 docs: make Callout closable in the first Close Button example
  docs/pages/close-button.md
Labels: 📖 documentation

#11550 tests: run Sass unit tests in Travis CI
  .travis.yml
Labels: 🚨tests

#11553 docs: fix typo in drilldown docs for autoApplyClass
  js/foundation.drilldown.js
Labels: 📖 documentation

#11559 Fixed spelling error in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: 📖 documentation

#11560 chore: update dependencies (2018-10-24)
  customizer/lib/sass.js
  package-lock.json
  package.json
  shrinkwrap.yaml
  yarn.lock
Labels: 💻 maintenance, 📦 dependencies

#11561 ci: test Node.js 6, 8, 10 and stable
  .travis.yml
Labels: 💻 maintenance, 🚨tests

#10949 fix: consistent event name triggering in components
  js/foundation.drilldown.js
  js/foundation.offcanvas.js
  test/javascript/components/drilldown.js
  test/javascript/components/offcanvas.js
Labels: :boom: migration needed, Off-Canvas, events

#11562 cleanup
  docs/pages/grid.md
Labels: Grid, 📖 documentation

#11565 fix: print readable text on background #11546
  scss/typography/_print.scss
Labels: :boom: migration needed, design, print

#11564 docs: add missing doc for the "$print-hrefs" setting
  scss/typography/_print.scss
Labels: print, 📖 documentation

#11405 Refactor XY Grid cell mixins
  docs/pages/xy-grid.md
  scss/grid/_column.scss
  scss/util/_breakpoint.scss
  scss/util/_math.scss
  scss/util/_mixins.scss
  scss/util/_value.scss
  scss/xy-grid/_cell.scss
  scss/xy-grid/_classes.scss
  scss/xy-grid/_collapse.scss
  scss/xy-grid/_layout.scss
  scss/xy-grid/_position.scss
  test/sass/_selector.scss
Labels: :boom: migration needed, Need reviewers, XY Grid, new feature, refactor
