Repository foundation/foundation-sites, pull requests merged in 2018-02, with the labels that each got.

#10715 fix: prevent "space" on input to open dropdown
  js/foundation.dropdown.js
  test/javascript/components/dropdown.js
  test/visual/dropdown/dropdown-on-input.html
Labels: Dropdown, bug fix, javascript

#10925 docs: update ZURB template JavaScript docs #10353
  docs/pages/starter-projects.md
Labels: docs

#10928 fix typo
  docs/pages/installation.md
Labels: docs

#10929 Fix: dropdown menu event names in docs
  js/foundation.dropdownMenu.js
Labels: docs

#10941 getFnName unit tests ADDED
  test/javascript/util/core.js
Labels: javascript utilities, tests

#10936 Revert "fix: fix side-effect of jQuery .filter() in Abide.addA11yAttr…
  js/foundation.abide.js
Labels: Abide, bug fix

#10950 docs: make clear how isLTR in Orbit.changeSlide defines the slide ani…
  js/foundation.orbit.js
Labels: docs

#10942 chore: update foundation-docs
  package-lock.json
  package.json
Labels: docs

#10933 clear: revert #10555 "Fixes #9151 - Drilldown event issue"
  docs/pages/drilldown-menu.md
Labels: docs

#10939 Allow breakpoint mixin to accept a list
  docs/pages/xy-grid.md
  scss/util/_breakpoint.scss
Labels: XY Grid, new feature, scss

#10959 remove obsolete bower command, fix small typo
  docs/pages/starter-projects.md
Labels: docs

#10963 docs: fix the jsdoc annotations of the tabs component
  js/foundation.tabs.js
Labels: docs

#10967 fix: trigger opened.zf.offcanvas at the end to prevent race conditions
  js/foundation.offcanvas.js
Labels: Off-Canvas, bug fix

#10977 Fix broken link to XY grid
  docs/pages/flex-grid.md
Labels: docs

#10981 docs: fix the id of the example code for the click trigger
  docs/pages/off-canvas.md
Labels: docs

#10984 chore: resolve dependencies CVE
  package-lock.json
  package.json
Labels: chore, security

#10906 fix: fire Magellan update event only where there is a change
  js/foundation.magellan.js
Labels: Magellan, bug fix

#10960 Added 'disabled' styling to switches.
  docs/pages/switch.md
  scss/components/_switch.scss
Labels: Switch, new feature

#10986 docs: fix broken links #10985
  docs/pages/grid.md
  docs/pages/installation.md
Labels: docs

#10990 fix: do not test for inferred names in getFnName unit test
  test/javascript/util/core.js
Labels: javascript, javascript utilities, tests

#10966 Update off-canvas docs
  docs/pages/off-canvas.md
Labels: Off-Canvas, docs

#10962 docs: the flexgrid is used if $xy-grid is set to false
  docs/pages/xy-grid.md
Labels: docs
