Repository foundation/foundation-sites, pull requests merged in 2018-07, with the labels that each got.

#11367 fix: fix Bower file invalid JSON #11364
  bower.json
Labels: bug fix

#11104 fix radius on input-group-label and input-group-button
  scss/forms/_input-group.scss
Labels: bug fix, forms

#11366 fix: prevent removing all listeners by checking them before unbinding
  js/foundation.magellan.js
  js/foundation.offcanvas.js
  js/foundation.reveal.js
  js/foundation.sticky.js
  js/foundation.tabs.js
Labels: bug fix

#11373 Use correct data attribute in responsive toggle description
  docs/pages/responsive-navigation.md
Labels: Responsive Toggle, 📖 documentation

#11346 fix: fix completion callback called too many time in deploy task
  gulp/tasks/deploy.js
Labels: Gulp, bug fix

#11377 Define dropdown menu background in foundation-dropdown-menu mixin
  scss/components/_dropdown-menu.scss
Labels: Dropdown Menu, bug fix

#11382 docs: add a notice about required CSS in Media Query doc
  docs/pages/media-queries.md
Labels: Media Query, 📖 documentation

#11381 fix: initialize MediaQuery in global Foundation entry
  js/entries/foundation.js
Labels: Media Query, bug fix

#11389 chore: update dependencies (2018-07-06)
  gulp/tasks/check.js
  gulp/tasks/clean.js
  gulp/tasks/copy.js
  gulp/tasks/customizer.js
  gulp/tasks/deploy.js
  gulp/tasks/docs.js
  gulp/tasks/javascript.js
  gulp/tasks/lint.js
  gulp/tasks/sass.js
  gulp/tasks/test.js
  gulpfile.js
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies, 💻 maintenance

#11394 chore: update sourcemaps of distributed JS plugins
  gulp/tasks/deploy.js
Labels: 💻 maintenance, 🚚 build, 🚚 dist

#11397 fix: optimize & add missing properties in XY Grid responsive cell modifiers
  scss/xy-grid/_classes.scss
Labels: XY Grid, bug fix

#11393 fix: set matchMedia on window to fix issue on IE11, fixes #11358
  js/foundation.util.mediaQuery.js
Labels: Media Query, javascript, javascript utilities

#11411 fix: resolve dropdown menu disappearing for #11410
  js/foundation.dropdownMenu.js
Labels: Dropdown Menu, bug fix

#11419 chore: update dependencies (2018-07-26)
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies, 💻 maintenance
