Repository foundation/foundation-sites, pull requests merged in 2018-12, with the labels that each got.

#11619 docs: remove warning for abandoned deprecations #10540
  docs/pages/flexbox-utilities.md
  docs/pages/float-classes.md
  docs/pages/typography-helpers.md
  docs/pages/visibility.md
Labels: 📖 documentation

#11622 fix: fix SmoothScroll not applying custom options
  js/foundation.smoothScroll.js
Labels: Smooth Scroll, bug fix

#11634 Fix wrong implementation of horizontal centering the grid-container
  scss/xy-grid/_grid.scss
Labels: XY Grid, css

#11636 refactor: remove duplicate code in util.nest
  js/foundation.util.nest.js
Labels: javascript utilities
