Repository foundation/foundation-sites, pull requests merged in 2018-08, with the labels that each got.

#11425 fix: open Drilldrown with the currently opened (sub)menu height #11416
  js/foundation.drilldown.js
  test/javascript/components/drilldown.js
Labels: Drilldown Menu, bug fix

#11000 fix: remove top and bottom padding from select tags
  scss/forms/_select.scss
Labels: forms, scss

#11433 fix: fix Dropdown Menu top level item properties #11412
  scss/components/_dropdown-menu.scss
Labels: Dropdown Menu, bug fix, scss

#11435 docs: add section about plugins options and improve examples in Motion UI docs
  docs/pages/motion-ui.md
Labels: Motion UI, 📖 documentation

#11448 docs: Fix sentence fragment in installation.md
  docs/pages/installation.md
Labels: 📖 documentation

#11444 fix: i11443 gulp watch
  gulp/tasks/test.js
  gulpfile.js
Labels: Gulp, 🚚 build

#11450 fix: use correct selector, fixes #11447
  scss/components/_accordion.scss
Labels: Accordion, bug fix

#10884 feat: add "type" option to force interchange replacement method #10883
  js/foundation.interchange.js
  test/javascript/components/interchange.js
Labels: Interchange, javascript, new feature

#11461 fix: remove extraneous regular expression in interchange, closes #11460
  js/foundation.interchange.js
Labels: Interchange, bug fix

#11434 feat: add Orbit element "data-slide-active-label" to target the bullet span to move
  docs/pages/kitchen-sink.md
  docs/pages/orbit.md
  js/foundation.orbit.js
  test/javascript/components/orbit.js
  test/visual/orbit/touch.html
Labels: Orbit, new feature

#11458 foundation-cli docs for windows users
  docs/pages/installation.md
Labels: 📖 documentation

#11464 docs: remove mentions of unsupported Y Grid from block grids section
  docs/pages/xy-grid.md
Labels: XY Grid, 📖 documentation

#11465 fix: avoid stopping propagation when not necessary #11457
  js/foundation.accordion.js
  js/foundation.accordionMenu.js
  js/foundation.drilldown.js
  js/foundation.dropdownMenu.js
  js/foundation.offcanvas.js
  js/foundation.tabs.js
  js/foundation.tooltip.js
  js/foundation.util.keyboard.js
  js/foundation.util.triggers.js
Labels: Need reviewers, bug fix, events

#11454 chore: use split gulp tasks instead of the unsuitable "finish" event #11452
  gulp/tasks/customizer.js
  gulp/tasks/docs.js
  gulp/tasks/lint.js
  gulp/tasks/sass.js
  gulpfile.js
Labels: Gulp, 🚚 build

#11462 fix: avoid viewport height for fullscreen Reveal as it may be incorrect #10879
  scss/components/_reveal.scss
Labels: Reveal, bug fix

#11472 fix: fix offset when gutters are 0 in "xy-cell-offset" #11471
  scss/xy-grid/_position.scss
Labels: XY Grid, bug fix, scss

#11466 chore: simplify GitHub templates
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-documentation.md
  .github/ISSUE_TEMPLATE/4-maintainance.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 💻 maintenance, 💻 workflow
