Repository foundation/foundation-sites, pull requests merged in 2018-11, with the labels that each got.

#11573 fix: ensure Dropdown aria-labelledby to have an ID #11572
  js/foundation.dropdown.js
Labels: Dropdown, bug fix

#11581 fix: colorize clear dropdown Button arrow #11576
  scss/components/_button.scss
Labels: Dropdown Menu, bug fix

#11575 feat: dynamically generate Close Button sizes from "$closebutton-size"
  scss/components/_close-button.scss
Labels: close button, new feature

#11597 fix: remove duplicate position:absolute in progress-bar
  scss/components/_progress-bar.scss
Labels: Progress Bar, scss

#11595 fix: remove duplicate margin-bottom from grid example
  docs/assets/scss/examples/_grid.scss
Labels: scss, 📖 documentation

#11598 fix: remove duplicate border-left-width:0 in drilldown
  scss/components/_drilldown.scss
Labels: Drilldown Menu, scss

#11596 chore: remove unused background rules in docs
  docs/assets/scss/_accordion-content.scss
Labels: scss, 📖 documentation

#11592 fix: use concat return value for Trigger names
  js/foundation.util.triggers.js
Labels: Triggers, javascript

#11538 tests: test on Linux, macOS and Windows
  .travis.yml
  package-lock.json
  package.json
  shrinkwrap.yaml
  yarn.lock
Labels: WIP, 🚨tests

#11605 fix: import used Touch utility in Dropdown and Reveal #11604
  js/foundation.dropdown.js
  js/foundation.reveal.js
Labels: bug fix

#11608 docs: update the CodePen test case template
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/1-bug-report.md
  CONTRIBUTING.md
Labels: 📖 documentation

#11607 chore: temporary disable tree-shaking #11586
  package.json
Labels: 🚚 build

#11610 docs: add availability of features in the XY Grid (X/Y/both)
  docs/pages/xy-grid.md
  package-lock.json
  package.json
Labels: XY Grid, 📖 documentation
