Repository foundation/foundation-sites, pull requests merged in 2018-05, with the labels that each got.

#11081 fix: respect $gutter-output in the -xy-cell-properties mixin
  scss/xy-grid/_cell.scss
  scss/xy-grid/_layout.scss
Labels: Migration Needed, Sass Mixins, XY Grid, scss

#11227 style: fix sasslint warnings
  .sass-lint.yml
  scss/_global.scss
  scss/components/_accordion-menu.scss
  scss/components/_accordion.scss
  scss/components/_breadcrumbs.scss
  scss/components/_button-group.scss
  scss/components/_button.scss
  scss/components/_card.scss
  scss/components/_drilldown.scss
  scss/components/_dropdown-menu.scss
  scss/components/_dropdown.scss
  scss/components/_flex.scss
  scss/components/_table.scss
  scss/forms/_error.scss
  scss/forms/_input-group.scss
  scss/forms/_meter.scss
  scss/forms/_progress.scss
  scss/forms/_range.scss
  scss/forms/_text.scss
Labels: scss

#11231 chore: remove obsolete sasslint comments
  scss/components/_accordion-menu.scss
  scss/components/_button-group.scss
  scss/forms/_range.scss
  scss/forms/_text.scss
Labels: scss

#11238 Changed 'queues' to 'cues'
  docs/pages/accessibility.md
Labels: docs

#11249 docs: spelling and grammar corrections
  scss/util/_breakpoint.scss
  scss/util/_direction.scss
  scss/util/_unit.scss
Labels: docs, scss

#11246 chore: add multiple issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-feature-request.md
  .github/ISSUE_TEMPLATE/3-documentation.md
  .github/ISSUE_TEMPLATE/4-maintainance.md
Labels: chore, workflow

#11252 fix: enable microsoft autohiding scrollbar extension
  scss/xy-grid/_frame.scss
Labels: XY Grid, bug fix

#11251 docs: add spacing between words
  scss/util/_color.scss
Labels: docs

#11250 fix: form progress bar mixin calls `has-value` as `hasvalue`
  scss/forms/_progress.scss
Labels: Progress Bar, bug fix

#11262 docs: fix clashing IDs in form checkboxes
  docs/pages/kitchen-sink.md
Labels: docs

#11258 fix: prevent to initialize Triggers twice before window is loaded
  js/foundation.util.triggers.js
Labels: bug fix, javascript utilities

#11268 chore: revise Eyeglass compatibility range
  package.json
Labels: chore, dependencies

#11272 docs: fix typo in Accordion docs
  docs/pages/accordion-menu.md
Labels: docs

#11280 docs: clarify usage of body overflow in XY Grid grid-frame example
  docs/pages/xy-grid.md
Labels: XY Grid, docs

#11275 test: give time to IE to render elements before testing focus
  test/javascript/components/dropdownMenu.js
Labels: tests

#11283 Update forms.md
  docs/pages/forms.md
Labels: docs

#11279 test: fix interchange debonce test race condition
  test/javascript/components/interchange.js
  test/javascript/index.html
  test/javascript/lib/utils.js
Labels: Interchange, 🚨tests

#11294 chore: move jQuery & what-input to peerDependencies #11290
  package.json
Labels: 💻 maintenance, 📦dependencies

#11292 chore: update `foundation-docs` for the "ClipboardJS" patch
  package.json
Labels: 📦dependencies

#11265 feat: filter elements with plugins from reflow method
  docs/pages/javascript.md
  js/foundation.core.js
Labels: 🎖️ Good first contribution

#11300 fix: use fallback gutter for fallback breakpoint in XY cell #11194
  scss/xy-grid/_cell.scss
Labels: XY Grid, bug fix

#11308 chore: remove unused dependencies
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies, 💻 maintenance
