Repository foundation/foundation-sites, pull requests merged in 2018-09, with the labels that each got.

#11487 Fix wrong responsive spacing prototype classes
  scss/prototype/_spacing.scss
Labels: Prototyping Utilities, bug fix

#11486 Fix a bug in tab changing
  js/foundation.tabs.js
Labels: Tabs, bug fix

#11485 fix: use data-tabs-target to update history in Tabs deep-linking #11484
  js/foundation.tabs.js
Labels: Tabs, bug fix

#11488 chore: update dependencies (2018-09-03)
  package-lock.json
  package.json
  yarn.lock
Labels: dependencies, 💻 maintenance

#11495 Fix swipe docs
  docs/pages/javascript-utilities.md
Labels: javascript utilities, 📖 documentation

#11445 chore: improve "tree shaking" support and documentation
  docs/pages/javascript.md
  js/entries/foundation-plugins.js
  js/foundation.core.utils.js
  js/foundation.js
  js/foundation.util.motion.js
  package.json
Labels: Need reviewers, 💻 maintenance, 🚚 build

#11497 docs: use named imports in javascript documentation
  docs/pages/javascript.md
Labels: 📖 documentation

#11491 chore: update docs styles when SCSS change
  gulpfile.js
Labels: Gulp, 💻 maintenance

#11492 fix: fix XY cell bugs and typos from #11405 for v6.5.0
  scss/xy-grid/_cell.scss
  scss/xy-grid/_position.scss
Labels: XY Grid, bug fix

#11477 fix: return to initial state when reseting hash in Accordion & Tabs #11100
  js/foundation.accordion.js
  js/foundation.tabs.js
Labels: Accordion, Tabs, bug fix

#11418 fix: factorize mouseleave on browser UI fix and expand it to Dropdown & Tooltip
  js/foundation.core.utils.js
  js/foundation.dropdown.js
  js/foundation.dropdownMenu.js
  js/foundation.tooltip.js
  test/visual/dropdown/mouse-on-browser-ui.html
Labels: Dropdown Menu, Need reviewers, bug fix, refactor

#11500 Update prototyping-utilities.md
  docs/pages/prototyping-utilities.md
Labels: 📖 documentation

#11510 fix: follow relative and absolute links in SmoothScroll #11506
  js/foundation.smoothScroll.js
Labels: Smooth Scroll, bug fix

#11512 chore: update dependencies (2018-09-22)
  package-lock.json
  package.json
  shrinkwrap.yaml
  yarn.lock
Labels: dependencies, 💻 maintenance

#11508 chore: provide CJS, ESM and ES6+ bundles
  docs/pages/javascript.md
  gulp/tasks/deploy.js
  package-lock.json
  package.json
  rollup.config.js
Labels: 💻 maintenance, 🚚 build

#11518 docs: fix various spelling mistakes in Javascript doc and deploy scripts
  docs/pages/javascript.md
  gulp/tasks/deploy.js
  rollup.config.js
Labels: 📖 documentation

#11519 fix: clean SmoothScroll listeners on destroy
  js/foundation.smoothScroll.js
Labels: Smooth Scroll, bug fix
