Repository foundation/foundation-sites, pull requests merged in 2019-08, with the labels that each got.

#10538 Off-Canvas contentScroll inner scrollbox
  docs/pages/off-canvas.md
  js/foundation.offcanvas.js
  test/visual/offcanvas/nested.html
Labels: Off-Canvas, bug fix

#11720 feat: add required checkbox support to Abide
  docs/pages/abide.md
  js/foundation.abide.js
  test/javascript/components/abide.js
  test/visual/abide/abide-checkboxes.html
Labels: Abide, javascript

#11715 fix: use the right event namespace for dropdown menu
  js/foundation.dropdownMenu.js
Labels: Dropdown Menu, PR open, Responsive Menu, javascript

#11686 fix: collapse only own elements in accordion and tabs if they contain…
  js/foundation.accordion.js
  js/foundation.tabs.js
Labels: Accordion, Responsive Accordion Tabs, Tabs, javascript

#10961 feat: add opening methods to responsiveAccordionTabs #10953
  js/foundation.responsiveAccordionTabs.js
  test/visual/responsive-accordion-tabs/responsive-accordion-tabs.html
Labels: Responsive Accordion Tabs, WIP, new feature

#11716 fix: properly pass Event as object
  js/foundation.util.touch.js
  test/javascript/components/orbit.js
Labels: Orbit, events, javascript, javascript utilities

#11613 feat: add support of [formnovalidate] in Abide
  js/foundation.abide.js
  test/javascript/components/abide.js
  test/visual/abide/text.html
Labels: Abide, new feature
