Repository foundation/foundation-sites, pull requests merged in 2019-07, with the labels that each got.

#11734 docs: remove unnecessary !default flag in button config examples
  docs/pages/button.md
Labels: Button, scss, 📖 documentation

#11690 Add documentation for table nest option
  scss/components/_table.scss
Labels: Sass Mixins, Table, scss, 📖 documentation

#9893 Fixed tooltip positioning for SVG elements
  js/foundation.tooltip.js
Labels: Tooltip, informations needed

#11707 fix: change the namespace to zf.accordionMenu
  js/foundation.accordionMenu.js
Labels: Accordion Menu, javascript

#11673 Also support data-pattern for Abide
  js/foundation.abide.js
Labels: Abide, javascript
