Repository foundation/foundation-sites, pull requests merged in 2019-12, with the labels that each got.

#11906 feat: add zfPluginBase attribute to responsive accordion tabs
  js/foundation.responsiveAccordionTabs.js
Labels: Responsive Accordion Tabs, javascript

#11436 feat: add support for "down" media queries in "MediaQuery.is()" #11122
  docs/pages/grid.md
  docs/pages/media-queries.md
  docs/pages/prototyping-utilities.md
  docs/pages/typography-base.md
  js/foundation.util.mediaQuery.js
  package-lock.json
  test/javascript/lib/utils.js
  test/javascript/util/mediaQuery.js
  yarn.lock
Labels: media queries, new feature

#10979 fix: add the print media query for the right media query combinations
  scss/util/_breakpoint.scss
Labels: :boom: migration needed, Sass Mixins, bug fix

#11925 fix: correctly check breakpoint
  js/foundation.util.mediaQuery.js
Labels: Media Query, Sticky, javascript
