Repository foundation/foundation-sites, pull requests merged in 2020-07, with the labels that each got.

#12073 fix: missing !default in _base.scss #12072
  scss/typography/_base.scss
Labels: bug fix, scss

#12082 fix: keep the already set input error classes - closes #12081
  js/foundation.abide.js
Labels: Abide, bug fix, javascript

#12084 Magellan with data-offset does not trigger correctly on the first ite…
  js/foundation.magellan.js
Labels: Magellan, bug fix, javascript
